<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8nkRxnXRcwakYM7fuoMOc4P0k1N1nGUo</string>
	<key>GCM_SENDER_ID</key>
	<string>266295427213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brigProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>csc483-team1</string>
	<key>STORAGE_BUCKET</key>
	<string>csc483-team1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266295427213:ios:2a9dc23c819b1087eaa2c4</string>
</dict>
</plist>